.highlight {
  background-color: red;
}

.navbar {
  background-color: greenyellow !important;
}

content {
  background-color: red;
  font-size: 5px;
}

.span-class {
  background-color: grey;
}

.blue-highlight {
  color: red;
  font-size: 25px;
}

.green-highlight {
  color: green;
  font-size: 40px;
}

.cyan-highlight {
  color: cyan;
  font-size: 40px;
}


